# Ignora a pasta node_modules
node_modules/

# Ignora logs de erros do npm
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignora arquivos de cache
.cache/

# Ignora arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignora arquivos gerados por IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
